Samples/MyNotes/src/Website/Service References/CommandService/MyNotesCommandService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39531/MyNotesCommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Commands" />
  <xs:element name="CreateNewNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q1:CreateNewNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNoteText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Commands" minOccurs="0" name="command" nillable="true" type="q2:ChangeNoteText" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeNoteTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>