Samples/MyNotes/src/Website/Service References/CommandService/MyNotesCommandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyNotesCommandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:39531/MyNotesCommandService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:39531/MyNotesCommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39531/MyNotesCommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Commands" />
      <xsd:import schemaLocation="http://localhost:39531/MyNotesCommandService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ncqrs.Commanding" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyNotesCommandService_CreateNewNote_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewNote" />
  </wsdl:message>
  <wsdl:message name="IMyNotesCommandService_CreateNewNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IMyNotesCommandService_ChangeNoteText_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeNoteText" />
  </wsdl:message>
  <wsdl:message name="IMyNotesCommandService_ChangeNoteText_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeNoteTextResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyNotesCommandService">
    <wsdl:operation name="CreateNewNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyNotesCommandService/CreateNewNote" message="tns:IMyNotesCommandService_CreateNewNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyNotesCommandService/CreateNewNoteResponse" message="tns:IMyNotesCommandService_CreateNewNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeNoteText">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyNotesCommandService/ChangeNoteText" message="tns:IMyNotesCommandService_ChangeNoteText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyNotesCommandService/ChangeNoteTextResponse" message="tns:IMyNotesCommandService_ChangeNoteText_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyNotesCommandService" type="tns:IMyNotesCommandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewNote">
      <soap:operation soapAction="http://tempuri.org/IMyNotesCommandService/CreateNewNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeNoteText">
      <soap:operation soapAction="http://tempuri.org/IMyNotesCommandService/ChangeNoteText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyNotesCommandService">
    <wsdl:port name="BasicHttpBinding_IMyNotesCommandService" binding="tns:BasicHttpBinding_IMyNotesCommandService">
      <soap:address location="http://localhost:39531/MyNotesCommandService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>